beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
cloudpickle==0.2.2
cymem==1.31.2
Cython==0.23.5
Flask==0.12
h5py==2.6.0
itsdangerous==0.24
Jinja2==2.9.4
Keras==1.2.0
MarkupSafe==0.23
murmurhash==0.26.4
numpy==1.12.0
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
py==1.4.32
PyPDF2==1.26.0
pytest==3.0.5
PyYAML==3.12
requests==2.12.5
scikit-learn==0.18.1
scipy==0.18.1
semver==2.7.3
six==1.10.0
sklearn==0.0
spacy==1.5.0
sputnik==0.9.3
Theano==0.8.2
thinc==5.0.8
ujson==1.35
Werkzeug==0.11.15
